
@{
    ViewBag.Title = "CrearEquipo";
}
@using maketeam.Models
@model Equipo



@using (Html.BeginForm("ValidarE", "Home", FormMethod.Post))
{
    <p>Ingrese nombre del equipo</p>@Html.TextBoxFor(model => model.NombreEquipo)@Html.ValidationMessageFor(model => model.NombreEquipo) <br />
    <input type="submit" value="+">

}


