@{
    ViewBag.Title = "Home Page";
}

<div class="rectangulo">
    <p>
        @ViewBag.descripcion1
        <input type="submit" value="Iniciar sesion">
    </p>
</div>

<div class="rectangulo2">
    <p>
        @ViewBag.descripcion2
        @ViewBag.descripcion22
        <input type="submit" value="Registrarse">
    </p>
</div>




