@{
    ViewBag.Title = "Inciar Sesion";
}

@using maketeam.Models
@model Usuario

<body style="background-image:url('/Content/Registrarse.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    @using (Html.BeginForm("ValidarI", "Home", FormMethod.Post))
    {
    <div class="rectangulologin">

        <p class="textoindex1">Usuario</p>@Html.TextBoxFor(model => model.NombreDeUsuario)@Html.ValidationMessageFor(model => model.NombreDeUsuario) <br />
        <p class="textoindex1">Password</p> @Html.PasswordFor(model => model.Contraseña)@Html.ValidationMessageFor(model => model.Contraseña) <br />

        <input type="submit" value="Iniciar Sesion">
    </div>
    }







</body>






