
@{

    ViewBag.Title = "Jugador";
}
@using maketeam.Models
@model Usuario

<body>
    <p>
        @ViewBag.Jugador.NombreDeUsuario

    </p>
    
    <a href='@Url.Action("CrearEquipo","Home",new { idusuario= ViewBag.id })'>
        <input type="submit" value="+">
    </a>

    <ul>
        @foreach (Equipo equi in ViewBag.Equipos)
        {
            <h1>@equi.NombreEquipo</h1>

        }
    </ul>
</body>


