
@{

    ViewBag.Title = "Jugador";
}
@using maketeam.Models
@model Usuario

<body>
    <p>
        @ViewBag.Jugador.NombreDeUsuario

    </p>
    
    <a href='@Url.Action("CrearEquipo","Home",new { idusuario= ViewBag.id })'>
        <input type="submit" value="+">
    </a>

    
        @foreach (Equipo equi in ViewBag.Equipos)
        {
            <a href='@Url.Action("MostrarEquipo", "Home",new { idequip= equi.IDEquipo })'><p>@equi.NombreEquipo</p> </a>

        }
    
</body>


