
@{
    ViewBag.Title = "MostrarEquipo";
}

<body style="background-image:url('/Content/Fondo.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    @using maketeam.Models


    <body>
        <h1>
            El Equipo al Cual representaran va a ser: @ViewBag.Equi

        </h1>

        @foreach (Usuario us in ViewBag.Jugs)
        {
            <p>El Nombre del usuario es: @us.NombreDeUsuario</p>

        }

    </body>


