
@{
    ViewBag.Title = "¿Quienes Somos?";
}

<body style="background-image:url('/Content/Fondo.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">


<body>

    <img src="~/Content/@ViewBag.LogoQuienes" />

    <h1> @ViewBag.TituloQuienes </h1>

    <h2>@ViewBag.DescripcionQuienes</h2>


</body>

