
@{
    ViewBag.Title = "¿Quienes Somos?";
}


<body>

    <img src="~/Content/@ViewBag.LogoQuienes" />

    <h1> @ViewBag.TituloQuienes </h1>

    <h2>@ViewBag.DescripcionQuienes</h2>

    <img src="~/Content/@ViewBag.FotoAle" />

</body>

